<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.almortah.almortah">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_noname"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_noname"
        android:supportsRtl="true"
        android:theme="@style/Base.V7.Theme.AppCompat.Light">
        <activity android:name=".Signup" />
        <activity android:name=".login" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChaletListActivity"
            android:label="@string/title_activity_chalet_list" />
    </application>

</manifest>